/* Kis kepernyon */
@media (max-width: 992px) and (orientation: portrait) {
    h1 {
        font-size: 5rem;
    }

    .entire-message {
        font-size: 50px;
    }

    #message {
        height: 85px;
        font-size: 50px;
    }

    #send {
        font-size: 55px;
    }

    #set-username {
        font-size: 40px;
    }

    #cooldownTimer {
        font-size: 55px;
        float: right;
        margin-right: 10px;
        margin-top: 8px;
    }

    #letterCount {
        font-size: 40px;
        vertical-align: middle;
    }
}

/* Nagy kepernyon */
@media (min-width: 993px) {
    .entire-message {
        font-size: 20px;
    }

    #message {
        height: 40px;
        font-size: 20px;
    }

    #send {
        font-size: 20px;
    }

    #set-username {
        font-size: 16px;
    }

    #cooldownTimer {
        font-size: 20px;
        float: right;
        margin-right: 20px;
        margin-top: 8px;
    }

    #letterCount {
        font-size: 20px;
        vertical-align: middle;
    }
}

#chat-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 70vh;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.username {
    color: dodgerblue;
}

.time {
    color: dodgerblue;
    text-align: right;
}

@keyframes flyIn {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.new-message-animation {
    animation: flyIn 0.5s ease-out forwards;
}
