<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KRGchat</title>
  {{ bootstrap.load_css() }}
  {% block css %}{% endblock %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

{% block content %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="UTF-8">
  let socket = io();
  socket.on('connect', function() {
    console.log('User connected');
  });
  socket.on('disconnect', function(reason) {
    console.log('User disconnected ... ', reason);
  });
</script>
{{ bootstrap.load_js() }}
</body>
</html>