{% extends 'base.html' %}

{% block title %}Web Chat{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/index_styles.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="text-center my-3">
    <h1>KRGchat</h1>
  </div>
  <div class="row">
    <div class="col-sm-0 col-lg-2">
    </div>
    <div class="col-sm-12 col-lg-8 pb-2 border border-dark">
      <div id="chat-section">
        {% for message in messages %}
          <p class="entire-message"><span class="username">{{message.sender}}</span> - <span class="message">{{message.message}}</span> - <span class="time">{{ message.time | format_date }}</span></p>
        {% endfor %}
      </div>
      <input autofocus class="form-control my-lg-2 my-4" id="message" name="message" required type="text" placeholder="Aa" value autocomplete="off">
      <button class="btn btn-primary btn-md" id="send" name="send" onclick="sendMessage()">Küldés</button>
      <button class="btn btn-secondary btn-md" id="set-username" onclick="location.href='set-username'">Felhasználónév változtatása</button>
      <span id="letterCount">0/150</span>
      <span id="cooldownTimer"></span>
    </div>
    <div class="col-sm-0 col-lg-2">
    </div>
  </div>
</div>
<script type="text/javascript" charset="UTF-8">
  let socket = io();
  const MESSAGE_COOLDOWN = 4
  const MAX_MESSAGE_LENGTH = 150

  function getCookie(name) {
    // Add the equals sign to the cookie name
    let nameEQ = name + "=";
    // Split document.cookie at semicolons
    let ca = document.cookie.split(';');
    // Loop through the cookie array
    for(let i=0;i < ca.length;i++) {
      let c = ca[i];
      // Remove leading whitespaces
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      // Check if this cookie's name matches the requested name
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    // If not found, return null
    return null;
  }

  socket.on('connect', (data) => {
    let chatSection = document.getElementById('chat-section');
    chatSection.scrollTop = chatSection.scrollHeight;
  });

  socket.on('message', (msg) => {
    if (msg['data'] == "new message") {
      // Create a new element for the message
      let newMessage = document.createElement('p');
      newMessage.className = 'entire-message new-message-animation';
      newMessage.innerHTML = '<span class="username">' + msg["username"] + '</span> - <span class="message">' + msg["message"] + '</span> - <span class="time">' + msg["time"] + '</span>';
    
      // Select the chat section
      let chatSection = document.getElementById('chat-section');
      let isScrolledToBottom = chatSection.scrollHeight - chatSection.clientHeight <= chatSection.scrollTop + 1
    
      // Append the new message element to the chat section
      chatSection.appendChild(newMessage);
    
      // Add an event listener to remove the animation class once the animation ends
      newMessage.addEventListener('animationend', () => {
        newMessage.classList.remove('new-message-animation');
      });

      // Scroll to the bottom only if it has been scrolled to the bottom before the new message
      if(isScrolledToBottom) {
        // Scroll to the bottom of the chat
        chatSection.scrollTop = chatSection.scrollHeight;
      }
    }
  });

  function sendMessage() {
    const messageField = document.getElementById('message');
    const letterCount = document.getElementById('letterCount');

    // VALIDATION
    if (messageField.value == "") return;

    if (messageField.value.length > MAX_MESSAGE_LENGTH) return;

    const COOLDOWN_PERIOD = MESSAGE_COOLDOWN * 1000; // 5 seconds
    const lastMessageTime = localStorage.getItem('lastMessageTime');
    const currentTime = new Date().getTime();
    if (lastMessageTime && currentTime - lastMessageTime < COOLDOWN_PERIOD) {
      return;
    }

    // Store the current time as the last message time
    localStorage.setItem('lastMessageTime', currentTime);

    // Send to flask
    socket.emit('message', {
      message: messageField.value,
      username: '{{ username }}'
     });

    messageField.value = "";
    letterCount.textContent = `0/${MAX_MESSAGE_LENGTH}`;
    startCooldown(COOLDOWN_PERIOD);
  }

  function startCooldown(duration) {
    const cooldownTimer = document.getElementById('cooldownTimer');
    let remainingTime = duration;

    // Immediately update the cooldown display to avoid delay in interval
    updateCooldownDisplay(remainingTime);

    const intervalId = setInterval(() => {
        remainingTime -= 1000;
        updateCooldownDisplay(remainingTime);

        if (remainingTime <= 0) {
            clearInterval(intervalId);
            cooldownTimer.textContent = ''; // Clear the cooldown display
        }
    }, 1000);
  }

  function updateCooldownDisplay(remainingTime) {
      const seconds = Math.ceil(remainingTime / 1000);
      const cooldownTimer = document.getElementById('cooldownTimer');
      if (seconds > 0) {
          cooldownTimer.textContent = `${seconds}`;
      }
  }

  document.addEventListener('keypress', (event) => {
    let name = event.key;
    if (name == "Enter") {
      sendMessage()
    }
  }, false);

  document.getElementById('message').addEventListener('input', function() {
    var length = this.value.length; // Get the length of the current input
    document.getElementById('letterCount').textContent = `${length}/${MAX_MESSAGE_LENGTH}`; // Update the span with this value
  });
</script>
{% endblock %}
