{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field %}

{% block title %}Set Nickname{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/name_styles.css">
{% endblock %}

{% block content %}

<div class="content container-fluid justify-content-center">
  <h1 class="text-center my-3">Add meg a felhasználóneved!</h1>
  <h3 class="text-center my-3">max 20 karakter</h3>
  <form action="{{ url_for('set_username') }}" id="username-field" method="POST">
    {{ form.csrf_token() }}
    {{ render_field(form.username) }}
    <div class="submit-holder">
      {{ render_field(form.submit) }}
    </div>
  </form>
  <p id="letterCount"></p>
</div>
<script>
  const MAX_USERNAME_LENGTH = 10
  const letterCount = document.getElementById('letterCount');
  const usernameField = document.getElementById('username-field');
</script>

{% endblock %}
