{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field %}

{% block title %}Password{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/password.css">
{% endblock %}

{% block content %}

<div class="content container-fluid justify-content-center">
  <h1 class="text-center my-3">Add meg a jelszót!</h1>
  <h3 class="text-center my-3">Helytelen jelszó esetén fél perc várólista</h3>
  <form action="{{ url_for('password') }}" id="password-field" method="POST" autocapitalize="none" autocomplete="off">
    {{ form.csrf_token() }}
    {{ render_field(form.password) }}
    <div class="submit-holder">
      {{ render_field(form.submit) }}
    </div>
  </form>
  {% if error %}
    <p id="error-message">{{ error }}</p>
  {% endif %}
</div>

{% endblock %}
