{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field %}

{% block title %}Lockout{% endblock %}
{% block css %}
<link rel="stylesheet" href="static/waiting-room.css">
{% endblock %}

{% block content %}

<div class="content container-fluid justify-content-center">
  <h1 class="text-center my-3">Helytelen jelszó</h1>
  <h3 class="text-center my-3" id="feedback">{{ waiting_time }} másodperc múlva újra próbálhatod</h3>
  <div class="text-center">
    <button onclick="location.href='password'" class="btn btn-primary" id="vissza">Újra próbálás</button>
  </div>
  {% if error %}
    <p id="error-message">{{ error }}</p>
  {% endif %}
</div>
<script>
  let counting_waiting_time = '{{ waiting_time }}';

  const intervalId = setInterval(() => {
    counting_waiting_time -= 1;
    document.getElementById('feedback').textContent = `${counting_waiting_time} másodperc múlva újra próbálhatod`;
  
    if (counting_waiting_time === 0) {
      clearInterval(intervalId); // Stop the interval when variable reaches 0
    }
  }, 1000); // 1000 milliseconds = 1 second
  
</script>

{% endblock %}
